body{
  background: url('http://rivista-cdn.hvmag.com//images/cache/cache_f/cache_f/cache_b/sloop-3fe41bff.jpeg?ver=1568638502&aspectratio=1.5094339622642') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin:0;

}

h1 {
  color: azure;
}

.beer-list{
  color: brown;
}

.content {
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  border: 3px solid beige;
  border-radius: 50%;
  background-color: rgba(245, 245, 220, .5);
}

a {
  text-decoration: none;
  color: mintcream;
  font-weight: bold;
}

@media (max-width: 500px) {
.content {
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  border: 3px solid beige;
  border-radius: 50%;
  background-color: rgba(245, 245, 220, .5);
}

a {
  text-decoration: none;
  color: mintcream;
  font-weight: bold;
}

button {
  background-color: white;
}
}